<div class="card">
    
    <table class='table table-hover'>
    
        <thead>
            <tr>
    
                <th *ngFor="let column of columns"> {{column.name}} </th>
    
            </tr>
        </thead>
        

        <div>
            <tbody>
                
                    <tr *ngFor="let row of rows">
            
                        <td *ngFor="let column of columns">
            
                            <span *ngIf="!column.templateName">
                                {{row[column.property]}}
                            </span>
            
                        </td>
                        
                    </tr>
                
            </tbody>
        </div>
    
    </table>

    <ngb-pagination
        [(page)]="currentPage"
        [pageSize]="currentPageSize"
        [boundaryLinks]="true"
        [maxSize]="5"
        [rotate]="true"
        [collectionSize]="total">
    </ngb-pagination>

</div>
