.card{
    height: 100%;
}

.card table thead,
.card table tbody tr{
    display: table;
    width:100%;
    table-layout: fixed;
}

.card table > div{
    display: block;
    overflow: auto;
    width: 100%;
    position: absolute;
    height: calc(100% - 5rem);
}

.card table{
    overflow-y: auto;
}

.card table tbody tr td 
{
    padding: 0.5rem;
    font-size: 0.75rem;
    padding-left: 1.5rem;
}